$font-family-sans-serif: "Inter", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

$prim: #151603;
$sec: #fdfef6;
$btn1: #1dbfcd;
$btn2: #ffffff;
$acc: #9349B1;
$grad: linear-gradient(100deg, $btn1, $acc);


/*********** Navbar ***********/
#nav-glass {
  transition: background-color 0.3s ease;
  color: $prim;
}

#nav-glass.scrolling-active {
  background-color: rgba(34, 34, 34, 0.8);
  backdrop-filter: blur(5px);
  color: #ffffff !important;
}

#nav-glass.scrolling-active a {
  color: #ffffff;
}

#nav-glass.scrolling-active svg {
  fill: #ffffff;
}

.color-grad {
  background: $grad;
  background-clip: text;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: $acc !important;
  text-decoration: overline;
  font-weight: bold;
}

.nav-link {
  line-height: 1.5rem;
  color: $prim;
  transition: transform 0.5s ease;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.nav-link:hover {
  color: $acc !important;
  transform: translateY(-5px);
}

.nav-social-links {
  fill: $prim;
}

.socialLinked:hover {
  fill: #0072b1 !important;
}

.socialGit:hover {
  fill: #ef5033 !important;
}

.socialMail:hover {
  fill: #bb001b !important;
}


/*********** Hero ***********/
#hero {
  padding-top: 100px;
  padding-bottom: 250px;
}

.color-grad-name {
  background: $grad;
  background-clip: text;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-cert-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.hero-info-container {
  padding-left: 0;
}

.hero-img-container {
  display: flex;
  justify-content: end;
  padding-right: 0;
}

.zoom-img {
  transition: transform 0.3s ease;
}

.zoom-img:hover {
  transform: scale(1.3);
}

.lead {
  text-align: justify;
}

.highlights {
  font-weight: bold;
}

/*********** Tecnologías ***********/
#techs {
  padding-top: 150px;
}

.tech-container {
  padding: 50px;
  height: 400px;
  margin-bottom: 100px;
}

.tech-title {
  text-align: end;

  .gradient-underline {
    background-image: linear-gradient(to right, $btn1, $acc);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    padding-bottom: 10px;
  }
}

.title-2 {
  text-align: start;
}

.tech-icons {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


/*********** Proyectos ***********/
#projects {
  padding-top: 150px;
}

.projects-info {
  margin: 0;
  padding-bottom: 8px;
}

.top-grad {
  background-image: linear-gradient(to right, $btn1, $acc);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}

.cards {
  background: $prim;
}

.project-img {
  height: 280px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.rrss {
  fill: $sec;
}

/*********** Contacto ***********/
#contact {
  padding-top: 430px;
  padding-bottom: 500px;
}

.contact-info {
  margin-bottom: 100px;
}

.contact-icons {
  flex-wrap: nowrap;
}

footer li {
  margin-right: 40px;
}

.rss {
  fill: $prim;
}

.rssMail:hover {
  fill: #bb001b;
}

.rssLink:hover {
  fill: #0072b1;
}

.rssGit:hover {
  fill: #ef5033;
}

/*********** Responsive ***********/

// Small devices (landscape phones, 576px)
@media screen and (max-width: 576px) {
  .tech-icons {
    padding: 30px;
  }

  .front-tech {
    box-sizing: border-box;
  }

  .back-tech {
    box-sizing: border-box;
  }

  #contact {
    padding: 30px;
  }

  .card-image {
    object-fit: cover;
  }
}

// Medium devices (tablets, 768px)
@media screen and (max-width: 767px) {
  #hero {
    padding-top: 20px;
    margin-top: 170px;
  }

  .navbar-brand {
    display: none;
  }

  .social-logos {
    display: none;
  }

  .hero-container {
    display: flex;
    justify-content: center;
    padding: 15px;
  }

  .info-container {
    padding-left: 30px;
  }

  .tech-container {
    padding: 30px;
    height: auto;
    margin-bottom: 120px;
  }

  #techs {
    padding-top: 30px;
  }

  .tech-icons {
    padding: 30px;
  }

  .front-tech {
    height: 60px;
    filter: none;
    box-sizing: border-box;
  }

  .back-tech {
    height: 60px;
    filter: none;
    box-sizing: border-box;
  }

  .project-img {
    background-position: center;
  }
}

// Large devices (desktops, 992px)
@media screen and (max-width: 991px) {
  .nav-link {
    line-height: 1.5rem;
    color: $prim;
    transition: transform 0.5s ease;
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  #hero {
    padding-top: 0;
  }

  .hero-container {
    display: flex;
    justify-content: center;
    padding: 15px;
  }

  .hero-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px auto 30px auto;
  }

  .hero-info-container {
    padding-left: 30px;
  }

  .front-tech,
  .back-tech {
    height: 80px;
  }

  .tech-container {
    padding: 30px;
    height: auto;
    margin-bottom: 120px;
  }

  #contact {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .contact-info {
    margin-bottom: 50px;
  }

  .tech-icons {
    padding: 30px;
  }
}